@import url('https://fonts.googleapis.com/css?family=Cabin');
body {
  text-align: center;
  width:90%;
  margin: auto;
  font-family: sans-serif;
}
nav {
  text-align:center;
}
nav div {
  text-align: center;
}

nav ul{
border-top: 1px solid black;
border-bottom: 1px solid black;
}
nav ul li{
  display: inline-block;
  padding: 5px;
}

nav ul>li {
  border-left: 1px solid black;
}

nav ul>li:last-of-type {
  border-right: 1px solid black;
}

nav ul li a {
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
  color:black;
  font-size: 0.8em;
}
h1, h2 {
  font-family: 'Cabin';
}
.container {
  margin: auto;
  width:60%;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container image {
  width : 50%;
}

.container2 {
  margin: auto;
  width:80%;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
  margin: auto;
  width:50%;
  border-radius: 10px;
  background-color: #f8ffff;
  color: #276f86;
  border:1px solid skyblue;
  padding: 10px;
}

.info > h3 {
  margin : 0;
}

.error {
  margin: auto;
  width:50%;
  border-radius: 10px;
  background-color: #fff6f6;
  color: #9f3a38;
  border:1px solid red;
  padding: 10px;
}

.error > h3 {
  margin : 0;
}

.success {
  margin: auto;
  width:50%;
  border-radius: 10px;
  background-color: #fcfff5;
  color: #2c662d;
  border:1px solid green;
  padding: 10px;
}

.success > h3 {
  margin : 0;
}

.field {
  text-align: left;
}
input[type=text], select, input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset {
  text-align: left;
}

.buttonRightBlue {
  float: right;
}

article {
  width: 220px;
  height: 200px;
  display: inline-block;
 	border: 1px solid #CCC;
	box-shadow: 5px 5px 2px #AAA;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
  border-radius: 5px;
  margin-bottom: 5px;
  position:relative;
}
article h2 {
		font-size:small;
}

.datemeta {
  font-size:x-small;
  color:gray;
}

article img {
	   width: 100px;
}

.mosaique {
  width:100%;

}

.bottom {
  position: absolute;
  bottom: 0px;
}

@media screen and (max-width: 960px){
  body {
    width: 100%;
  }
  nav {
    text-align:left;
  }
  nav div img {
    width: 100%;
  }
  nav ul {
    display: inline-block;
        border-right: 1px solid black;
  }
  nav ul li{
    display:block;
    padding-left: 0;
    border-right: 0;
  }
  nav ul>li {
    border-left: 0;
  }
  nav ul>li:last-of-type {
    border-right: 0;
  }
  .container {
    width: 90%;
  }
  .info {
    width:90%;
  }

  .error {
    width:90%;
  }

  .success {
    width:90%;
  }
}
